<style>
.details{
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #2c4964;
}

</style>

<section class="d-flex align-items-center mt-5 details">
  <div class="container mt-5">
    <h1>Claim Rejection</h1>
  </div>
</section>